name: ch57x_keyboard_gui
description: GUI for programming CH57x macro keyboards using flutter_rust_bridge bindings.
publish_to: 'none'

version: 0.1.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_rust_bridge: ^1.82.6
  ffi: ^2.1.0
  collection: ^1.18.0
  meta: ^1.11.0
  uuid: ^4.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
